@charset "utf-8";
/* CSS Document */

*{padding:0;
margin:0 auto;
}
body{height:100vh;
width:100vw;}
@media screen and (min-width: 0px) and (max-width: 599.9px) {


}

@media screen and (min-width: 600px){

#productfoto {
 position: absolute;
 top:35vh;
 left:50vh;

width: 199px;
height: 400px;
background-image: url("../img/roodblikje.png");
background-repeat:no-repeat;
border:1px solid black;




}

#textachtergrond{
    text-align: center;
    position: absolute;
    top:45vh;
    left:80vh;
    height: 30vh;
    width: 30vw;
    background-color: #F57397;
    border:1px solid black;
}
header{height:25vh;}
#achtergrond{
background-color: #D14169;

width:100vw;
height: 75vh;}

#bovensec1 {
    width:40%;
   background-color: #107422;
   height:25vh;
   float:left;
}

#bovensec2 img {
   width:20%;
   height:25vh;
   float:left;
}
#bovensec3 {
   width:40%;
   background-color: #196680;
   height:25vh;
   float:left;
}
#item_hamburger summary {
    margin-left:30vw;
    margin-top:5vh;
    list-style:none;
    font-size:2rem;
    
    }
  
   
    #hamburger a{
    text-decoration: none;
    border:2px solid black;
    width:10vw;
    color:black;
    background-image: linear-gradient(to right top,#F57397,#1DAFE1,#28E828 );
    margin-left:27vw;
    z-index:5;
    font-size:1vw
 
    }
    ul{
    
        list-style-type: none;
        margin: 0;
        padding: 0;
        position:absolute;
    }
}